RIGHTEL/TOS.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "7b4c9a98-9444-3ca7-a4a7-7da9e3ac8828" : {
          "identifier" : "7b4c9a98-9444-3ca7-a4a7-7da9e3ac8828",
          "name" : "Kafka3ConnectionService"
        },
        "b04a188f-dfb8-390f-8573-d178a37c5ddf" : {
          "identifier" : "b04a188f-dfb8-390f-8573-d178a37c5ddf",
          "name" : "DBCPConnectionPool_RIGHTEL"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "556682a4-d72b-3dbe-8a5d-287f51ccb283",
            "instanceIdentifier" : "7840911f-fc7b-39a5-37a5-5c8b94974a11",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "e62d03fd-d027-37eb-9923-85fc2224d97b",
          "instanceIdentifier" : "7b697e09-079a-3b3d-6963-920434f53eca",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "47b32467-aa2c-3265-aeb9-3a41d8307aa9",
            "instanceIdentifier" : "3d69445b-c2f4-3ca4-ab62-d658265f2f23",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "id" : "cd657141-2087-31aa-b3cd-451a84ee5598",
            "instanceIdentifier" : "8b8cccfe-32f5-3198-daec-ddff56742503",
            "name" : "input",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "21232250-56da-3115-924e-83de1da2e42e",
          "instanceIdentifier" : "cba3f65e-df3d-35a4-340b-d07837d2a372",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "d400677f-8c95-3e4e-a6f5-59c5daa7f0bc",
            "instanceIdentifier" : "853756d0-a29d-3aab-7d2b-6ef2569030ae",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "556682a4-d72b-3dbe-8a5d-287f51ccb283",
            "instanceIdentifier" : "7840911f-fc7b-39a5-37a5-5c8b94974a11",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "a1fadca7-ce27-3155-81fc-2af2197c0f46",
          "instanceIdentifier" : "907d4be8-34e3-3216-44ce-5f0909f8149c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "a55f698d-78ad-3273-8f41-000879257029",
            "instanceIdentifier" : "fc98d0e1-fe83-3940-c761-02055e9d3f2f",
            "name" : "GetFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "556682a4-d72b-3dbe-8a5d-287f51ccb283",
            "instanceIdentifier" : "7840911f-fc7b-39a5-37a5-5c8b94974a11",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "b873c2d9-2e84-3a50-8133-b17ee3fbc954",
          "instanceIdentifier" : "8baa4fee-6b4b-37f0-15f5-931a9b1814af",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "b13b9165-e950-39fb-bd47-0a8103195d78",
            "instanceIdentifier" : "7a3cc5f0-82bc-3b50-3620-d8c8b7ac97c3",
            "name" : "ConsumeKafka",
            "type" : "PROCESSOR"
          },
          "zIndex" : 1
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "681d738b-a074-33bb-8755-1cef37a653af",
            "instanceIdentifier" : "f5f44d0a-1a64-319f-7d42-2d18bbc2e3e2",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "44da9c3c-16cd-3923-a6e7-a629dfbc2702",
          "instanceIdentifier" : "c567e477-7842-3d0e-4020-a2f26741b8cb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "556682a4-d72b-3dbe-8a5d-287f51ccb283",
            "instanceIdentifier" : "7840911f-fc7b-39a5-37a5-5c8b94974a11",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "7ca3ccdc-08f2-34b6-873e-45b81faed3ec",
            "instanceIdentifier" : "0b4f057c-3cfc-310a-1656-80fa9bb126f4",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "4e0b71c4-7177-3f11-8719-cf48df72c753",
          "instanceIdentifier" : "f6fa57ac-9a66-35ca-acda-36a142dd56d5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "8b4ec82d-3cd2-37b9-9c05-4a9101b58b81",
            "instanceIdentifier" : "910c917d-2088-3f04-387f-413d14cdd206",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "d400677f-8c95-3e4e-a6f5-59c5daa7f0bc",
            "instanceIdentifier" : "853756d0-a29d-3aab-7d2b-6ef2569030ae",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "08923b0b-a2ad-317f-ba5e-4f90d0a975bd",
          "instanceIdentifier" : "4b266442-a435-332b-5380-06a2f7455a1d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "556682a4-d72b-3dbe-8a5d-287f51ccb283",
            "instanceIdentifier" : "7840911f-fc7b-39a5-37a5-5c8b94974a11",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "f517b27b-1399-3c2d-9286-7fe569947a69",
            "instanceIdentifier" : "e6cc961d-dd42-3654-21bf-f94ac155fcbd",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "75b6ba93-ff05-3505-aed3-4046efc7b00e",
          "instanceIdentifier" : "1668e40d-211b-3430-11ca-0a96f7afa722",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "8b4ec82d-3cd2-37b9-9c05-4a9101b58b81",
            "instanceIdentifier" : "910c917d-2088-3f04-387f-413d14cdd206",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "e7329d65-494a-37af-bb51-f5a7c18ab9f3",
            "instanceIdentifier" : "86bbad7e-85d7-3650-1f67-7a22e9011443",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "76737e2f-9592-3ca3-8686-17e7b7de6216",
          "instanceIdentifier" : "f3196a06-33ed-3030-c06e-0988ef629862",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "b13b9165-e950-39fb-bd47-0a8103195d78",
            "instanceIdentifier" : "7a3cc5f0-82bc-3b50-3620-d8c8b7ac97c3",
            "name" : "ConsumeKafka",
            "type" : "PROCESSOR"
          },
          "zIndex" : 2
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
            "id" : "8b4ec82d-3cd2-37b9-9c05-4a9101b58b81",
            "instanceIdentifier" : "910c917d-2088-3f04-387f-413d14cdd206",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "006ff3e5-ada7-32c4-a07a-370b4e4fd57d",
          "instanceIdentifier" : "01eb764e-5c20-3a55-7fe9-1da58a30ae0e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "id" : "e68daafc-8e47-333f-bd9f-243cab88c8d8",
            "instanceIdentifier" : "62395c31-9e1e-324f-ccab-0da50ecccf61",
            "name" : "output",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "02174ee0-1445-3e84-899d-478a33bb3eaf",
          "instanceIdentifier" : "129261d8-1e8e-336c-67b9-653947e6bb0d",
          "name" : "DBCPConnectionPool_99",
          "properties" : {
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "com.mysql.cj.jdbc.Driver",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "Max Total Connections" : "8",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "jdbc:mysql://10.0.0.99:3306/TEST?allowLoadLocalInfile=true",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "hauser",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "/data/NIFI/mysql-connector-java-8.0.30.jar",
            "dbcp-max-idle-conns" : "8"
          },
          "propertyDescriptors" : {
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE", "URL" ]
              },
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "6f241723-9888-3f90-bdc8-62a592c66172",
          "instanceIdentifier" : "3eb054e7-3de6-373b-c5a0-5796f94245e8",
          "name" : "DBCPConnectionPool",
          "properties" : {
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "com.singlestore.jdbc.Driver",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "Max Total Connections" : "15",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "jdbc:singlestore://172.24.10.28:4406/Airtel_RE_DATA?allowLocalInfile=true&amp;zeroDateTimeBehavior=convertToNull",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "cvmuser",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "/data/NIFI_1/singlestore-jdbc-client-1.1.4.jar",
            "dbcp-max-idle-conns" : "15"
          },
          "propertyDescriptors" : {
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE", "URL" ]
              },
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "98d3ae53-8285-33d5-9a08-c22cbd7a93de",
          "instanceIdentifier" : "e5d69321-1958-3f03-51fb-d41c53650ef8",
          "name" : "CSVReader_Putdatabaserecord",
          "properties" : {
            "ignore-csv-header" : "false",
            "Trim double quote" : "true",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "csvutils-allow-duplicate-header-names" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Skip Header Line" : "false",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "schema-text-property",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "{\n\"type\":\"record\",\n\"namespace\":\"NiFi\",\n\"name\":\"OPT_OUT_FEED\",\n\"fields\":[\n{ \"name\": \"MSISDN\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"CUSTOMER_STATUS\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"}\n]}"
          },
          "propertyDescriptors" : {
            "schema-reference-reader" : {
              "displayName" : "Schema Reference Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-reference-reader",
              "sensitive" : false
            },
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Trim double quote" : {
              "displayName" : "Trim double quote",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Trim double quote",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "csvutils-allow-duplicate-header-names" : {
              "displayName" : "Allow Duplicate Header Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "csvutils-allow-duplicate-header-names",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "c7c220af-fe1b-3303-b654-cd18058fe78c",
          "instanceIdentifier" : "ac4c9a41-0c18-346d-7862-0cf556d6a04f",
          "name" : "CSVRecordSetWriter_M1_TERMINATE_SERVICE",
          "properties" : {
            "CSV Format" : "custom",
            "Include Header Line" : "false",
            "Escape Character" : "\\",
            "Trim Fields" : "true",
            "schema-access-strategy" : "schema-text-property",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "{\n\"type\":\"record\",\n\"namespace\":\"NiFi\",\n\"name\":\"OPT_OUT_FEED\",\n\"fields\":[\n{ \"name\": \"MSISDN\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"CUSTOMER_STATUS\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"DEACTIVATED_TIME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"STATUS_UPDATED_TIME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SERVICE_SEQ_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"}\n]}",
            "csv-writer" : "commons-csv",
            "Quote Character" : "\"",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Schema Write Strategy" : "no-schema",
            "schema-name" : "${schema.name}",
            "Quote Mode" : "MINIMAL",
            "Include Trailing Delimiter" : "false"
          },
          "propertyDescriptors" : {
            "schema-reference-reader" : {
              "displayName" : "Schema Reference Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-reference-reader",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Include Header Line" : {
              "displayName" : "Include Header Line",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Include Header Line",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "csv-writer" : {
              "displayName" : "CSV Writer",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "csv-writer",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "Quote Mode" : {
              "displayName" : "Quote Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Quote Mode",
              "sensitive" : false
            },
            "Schema Reference Writer" : {
              "displayName" : "Schema Reference Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Schema Reference Writer",
              "sensitive" : false
            },
            "Include Trailing Delimiter" : {
              "displayName" : "Include Trailing Delimiter",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Include Trailing Delimiter",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "5f44461a-c57e-3c4e-9688-5d1dced75f3e",
          "instanceIdentifier" : "761474f5-2159-33b8-9bb6-ceec17a23202",
          "name" : "CSVReader_M1_TERMINATE_SERVICE",
          "properties" : {
            "ignore-csv-header" : "false",
            "Trim double quote" : "true",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "csvutils-allow-duplicate-header-names" : "true",
            "Value Separator" : "|",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Skip Header Line" : "false",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "schema-text-property",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "{\n\"type\":\"record\",\n\"namespace\":\"NiFi\",\n\"name\":\"OPT_OUT_FEED\",\n\"fields\":[\n{ \"name\": \"GENERATED_BY\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"EDR_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"EDR_LEVEL\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"EDR_TIMESTAMP\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"REQUEST_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"REQUEST_TIMESTAMP\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ORDER_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ORDER_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ORDER_STATUS\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SUB_ORDER_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SALES_CHANNEL\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"USER_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"USER_NAME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"PROFILE_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ACCOUNT_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SERVICE_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SERVICE_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"CONNECTION_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"CUSTOMER_NAME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"BASE_PLAN_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"BASE_PLAN_NAME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ADDON_PLAN_IDS\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ADDON_PLAN_NAMES\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"AMOUNT_PAID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"PROFILE_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SUBSCRIBER_CATEGORY\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SUBSCRIBER_SUB_CATEGORY\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"DEPOSIT_AMOUNT\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SERVICE_SEQ_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ORDER_COMPLETION_DATE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"FAILED_STAGE_NAME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ERROR_CODE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ERROR_MESSAGE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"OLD_BASE_PLAN_NAME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SFC_SPECIFIC_FIELD\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SA_FORM_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ICCID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"NATIONALITY\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"EMAIL_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"DOB\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"LANGUAGE_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"REFERRAL_CODE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"CUSTOMER_STATUS\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"LOYALTY_POINT_REDEMPTION\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SIM_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"RETAILER_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"STORE_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"PORT_IN_FLAG\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ESIM\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ENTITY_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"TOS_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ADDON_PLAN_AMOUNT\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"}\n]}"
          },
          "propertyDescriptors" : {
            "schema-reference-reader" : {
              "displayName" : "Schema Reference Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-reference-reader",
              "sensitive" : false
            },
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Trim double quote" : {
              "displayName" : "Trim double quote",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Trim double quote",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "csvutils-allow-duplicate-header-names" : {
              "displayName" : "Allow Duplicate Header Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "csvutils-allow-duplicate-header-names",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVReader"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
        "inputPorts" : [ ],
        "instanceIdentifier" : "6227f820-fd45-3bd1-1bc5-54bd9ffa0a9e",
        "labels" : [ ],
        "logFileSuffix" : "",
        "maxConcurrentTasks" : 1,
        "name" : "TRANSFER_OF_SERVICE",
        "outputPorts" : [ ],
        "parameterContextName" : "VARIABLES",
        "position" : {
          "x" : -192.0,
          "y" : 280.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "5cb7c88b-b083-3f2f-b2a8-90091bf6cd09",
              "instanceIdentifier" : "cbfda956-d22e-3892-0c5b-80104c2d3f51",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "29d4af6c-26a7-3d79-8877-37245d0fdff7",
            "instanceIdentifier" : "f29ad18c-634d-30bd-36d1-d36c28b617f9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "4988b320-fc62-337a-a308-51966c71021a",
              "instanceIdentifier" : "ce7ae870-e8ce-3f00-4172-623faf129052",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "4988b320-fc62-337a-a308-51966c71021a",
              "instanceIdentifier" : "ce7ae870-e8ce-3f00-4172-623faf129052",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "9ddf9517-01aa-373b-a473-a7ddd1c29d99",
            "instanceIdentifier" : "76aa0e22-8714-37b9-b7a3-51527723ecea",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "cd657141-2087-31aa-b3cd-451a84ee5598",
              "instanceIdentifier" : "8b8cccfe-32f5-3198-daec-ddff56742503",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 1
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "42f99351-7042-3550-9671-48668206086e",
              "instanceIdentifier" : "25af59b0-ad04-3eeb-7707-b5c69b37cc17",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "457283af-97f1-3c49-9d44-5618b2b94e4f",
            "instanceIdentifier" : "575c7e17-6525-359b-aa10-eb7e4e924152",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "3a9867ea-162f-325c-8166-843ea0a60453",
              "instanceIdentifier" : "dcaecd1e-69af-313c-edeb-962f00456d0a",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 100,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "e68daafc-8e47-333f-bd9f-243cab88c8d8",
              "instanceIdentifier" : "62395c31-9e1e-324f-ccab-0da50ecccf61",
              "name" : "output",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "f5965bff-5b04-32b2-8c2f-cc9a996d2ee0",
            "instanceIdentifier" : "6b00580d-d35e-33b6-2b94-db5a771a085e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "17458b5a-16e9-306b-a1a8-cfa471b2b229",
              "instanceIdentifier" : "f4cdcf7b-f0a1-35ee-4225-469f75dfb5d1",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "d6d5d1e9-7ad3-3749-beb4-e1a5a162e358",
              "instanceIdentifier" : "14541598-1cc2-3b72-4954-e36f93a60374",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "7ee1b853-8f6f-3b8a-a106-ea0121cb827a",
            "instanceIdentifier" : "5676ec63-f1b7-3b7e-24e0-a88f07b02c17",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "17458b5a-16e9-306b-a1a8-cfa471b2b229",
              "instanceIdentifier" : "f4cdcf7b-f0a1-35ee-4225-469f75dfb5d1",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "655bfe1e-69c3-3003-9d95-967f17560587",
              "instanceIdentifier" : "5bcdb8d7-8ed5-331d-903c-a39db914085c",
              "name" : "ExecuteSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "a53439a7-0ba6-3fe9-bad8-3829780a5f06",
            "instanceIdentifier" : "ed7b2714-9230-3e51-0187-a3c8636b7e59",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "4988b320-fc62-337a-a308-51966c71021a",
              "instanceIdentifier" : "ce7ae870-e8ce-3f00-4172-623faf129052",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "eb54c32f-39e8-346f-b9e8-b9915f424c61",
              "instanceIdentifier" : "e8f57ca4-30dc-3cce-9952-15c3614071fc",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "be5571bc-f80c-313f-b431-bdb64cb33f92",
            "instanceIdentifier" : "9144ecdd-cba8-3fc5-1942-0b1ff127d6b0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "655bfe1e-69c3-3003-9d95-967f17560587",
              "instanceIdentifier" : "5bcdb8d7-8ed5-331d-903c-a39db914085c",
              "name" : "ExecuteSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 100,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "508f65b0-6d8e-3c6c-af03-eac61473de6e",
              "instanceIdentifier" : "6ca2e7ca-9f37-375a-2284-e24c1ddd86cf",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "87364338-d1c5-3028-82c1-9be63fc4338e",
            "instanceIdentifier" : "cb231fc8-28a0-364c-fce6-a376a7637c5c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "655bfe1e-69c3-3003-9d95-967f17560587",
              "instanceIdentifier" : "5bcdb8d7-8ed5-331d-903c-a39db914085c",
              "name" : "ExecuteSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "f1d58b13-3ef3-33a4-aa91-97fcb65280c3",
              "instanceIdentifier" : "64fa9f7f-c562-3205-1045-b42d8ff09e44",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "18421756-5ad8-38aa-8c58-8f41b8324e52",
            "instanceIdentifier" : "b7ce283c-8a3b-344f-13bd-1648c774036e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure", "permission.denied", "not.found" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "680545e9-bf6e-33d8-9b54-ed5a589076dc",
              "instanceIdentifier" : "c345765f-6ed7-3aee-2c49-9c2aeb33ba63",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 100,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "3a9867ea-162f-325c-8166-843ea0a60453",
              "instanceIdentifier" : "dcaecd1e-69af-313c-edeb-962f00456d0a",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "6e853240-5b10-3959-ad71-930ad2f15d63",
            "instanceIdentifier" : "3dbf2da8-0264-384c-49d0-880284d7be02",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "680545e9-bf6e-33d8-9b54-ed5a589076dc",
              "instanceIdentifier" : "c345765f-6ed7-3aee-2c49-9c2aeb33ba63",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 100,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "680545e9-bf6e-33d8-9b54-ed5a589076dc",
              "instanceIdentifier" : "c345765f-6ed7-3aee-2c49-9c2aeb33ba63",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "dfcb0866-4670-317e-884d-a2ee1d3df9af",
            "instanceIdentifier" : "0548a750-dfea-303f-c909-eb29d8d67caa",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "COUNT_0" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "508f65b0-6d8e-3c6c-af03-eac61473de6e",
              "instanceIdentifier" : "6ca2e7ca-9f37-375a-2284-e24c1ddd86cf",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 100,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "17458b5a-16e9-306b-a1a8-cfa471b2b229",
              "instanceIdentifier" : "f4cdcf7b-f0a1-35ee-4225-469f75dfb5d1",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "dab692ea-0d52-35a9-bde3-f109e91dd1ba",
            "instanceIdentifier" : "57fef5c2-bdd4-38e6-139f-0ca9d5f9f5d6",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "COUNT" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
              "id" : "508f65b0-6d8e-3c6c-af03-eac61473de6e",
              "instanceIdentifier" : "6ca2e7ca-9f37-375a-2284-e24c1ddd86cf",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "executionEngine" : "INHERITED",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "cd657141-2087-31aa-b3cd-451a84ee5598",
            "instanceIdentifier" : "8b8cccfe-32f5-3198-daec-ddff56742503",
            "name" : "input",
            "portFunction" : "STANDARD",
            "position" : {
              "x" : 1928.0,
              "y" : 696.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "0ce59b4e-9ac6-3913-000f-5814aa9163f8",
          "labels" : [ ],
          "maxConcurrentTasks" : 1,
          "name" : "RETRY_TEMPLATE",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "e68daafc-8e47-333f-bd9f-243cab88c8d8",
            "instanceIdentifier" : "62395c31-9e1e-324f-ccab-0da50ecccf61",
            "name" : "output",
            "portFunction" : "STANDARD",
            "position" : {
              "x" : 1696.0,
              "y" : 1376.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "VARIABLES",
          "position" : {
            "x" : 32.0,
            "y" : 296.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "4988b320-fc62-337a-a308-51966c71021a",
            "instanceIdentifier" : "ce7ae870-e8ce-3f00-4172-623faf129052",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1416.0,
              "y" : 864.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Directory" : "#{DECODE_DEST}/TRANSFER_OF_SERVICE/RETRY_SOURCE_1",
              "Conflict Resolution Strategy" : "fail"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "508f65b0-6d8e-3c6c-af03-eac61473de6e",
            "instanceIdentifier" : "6ca2e7ca-9f37-375a-2284-e24c1ddd86cf",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1416.0,
              "y" : 1048.0
            },
            "properties" : {
              "COUNT_0" : "${executesql.row.count:equals('0')}",
              "Routing Strategy" : "Route to Property name",
              "COUNT" : "${executesql.row.count:gt('0')}"
            },
            "propertyDescriptors" : {
              "COUNT_0" : {
                "displayName" : "COUNT_0",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "COUNT_0",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "COUNT" : {
                "displayName" : "COUNT",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "COUNT",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "680545e9-bf6e-33d8-9b54-ed5a589076dc",
            "instanceIdentifier" : "c345765f-6ed7-3aee-2c49-9c2aeb33ba63",
            "maxBackoffPeriod" : "10 mins",
            "name" : "FetchFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 832.0,
              "y" : 1064.0
            },
            "properties" : {
              "Move Conflict Strategy" : "Rename",
              "Log level when file not found" : "ERROR",
              "Log level when permission denied" : "ERROR",
              "File to Fetch" : "#{DECODE_DEST}/TRANSFER_OF_SERVICE/RETRY_SOURCE_1/${filename}",
              "Completion Strategy" : "Delete File"
            },
            "propertyDescriptors" : {
              "Move Conflict Strategy" : {
                "displayName" : "Move Conflict Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Move Conflict Strategy",
                "sensitive" : false
              },
              "Log level when file not found" : {
                "displayName" : "Log level when file not found",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Log level when file not found",
                "sensitive" : false
              },
              "Move Destination Directory" : {
                "displayName" : "Move Destination Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Move Destination Directory",
                "sensitive" : false
              },
              "Log level when permission denied" : {
                "displayName" : "Log level when permission denied",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Log level when permission denied",
                "sensitive" : false
              },
              "File to Fetch" : {
                "displayName" : "File to Fetch",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "File to Fetch",
                "sensitive" : false
              },
              "Completion Strategy" : {
                "displayName" : "Completion Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Completion Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.FetchFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "permission.denied", "not.found" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "17458b5a-16e9-306b-a1a8-cfa471b2b229",
            "instanceIdentifier" : "f4cdcf7b-f0a1-35ee-4225-469f75dfb5d1",
            "maxBackoffPeriod" : "10 mins",
            "name" : "FetchFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2048.0,
              "y" : 1064.0
            },
            "properties" : {
              "Move Conflict Strategy" : "Rename",
              "Log level when file not found" : "ERROR",
              "Log level when permission denied" : "ERROR",
              "File to Fetch" : "#{DECODE_DEST}/TRANSFER_OF_SERVICE/RETRY_SOURCE_1/${filename}",
              "Completion Strategy" : "Delete File"
            },
            "propertyDescriptors" : {
              "Move Conflict Strategy" : {
                "displayName" : "Move Conflict Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Move Conflict Strategy",
                "sensitive" : false
              },
              "Log level when file not found" : {
                "displayName" : "Log level when file not found",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Log level when file not found",
                "sensitive" : false
              },
              "Move Destination Directory" : {
                "displayName" : "Move Destination Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Move Destination Directory",
                "sensitive" : false
              },
              "Log level when permission denied" : {
                "displayName" : "Log level when permission denied",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Log level when permission denied",
                "sensitive" : false
              },
              "File to Fetch" : {
                "displayName" : "File to Fetch",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "File to Fetch",
                "sensitive" : false
              },
              "Completion Strategy" : {
                "displayName" : "Completion Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Completion Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.FetchFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "eb54c32f-39e8-346f-b9e8-b9915f424c61",
            "instanceIdentifier" : "e8f57ca4-30dc-3cce-9952-15c3614071fc",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2672.0,
              "y" : 848.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Directory" : "#{ERROR}/TRANSFER_OF_SERVICE/EXECUTE_SQL_1/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
              "Conflict Resolution Strategy" : "fail"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "5cb7c88b-b083-3f2f-b2a8-90091bf6cd09",
            "instanceIdentifier" : "cbfda956-d22e-3892-0c5b-80104c2d3f51",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 824.0,
              "y" : 856.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Directory" : "#{ERROR}/TRANSFER_OF_SERVICE/RETRY_1/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
              "Conflict Resolution Strategy" : "fail"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 2,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "3a9867ea-162f-325c-8166-843ea0a60453",
            "instanceIdentifier" : "dcaecd1e-69af-313c-edeb-962f00456d0a",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 224.0,
              "y" : 1080.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Directory" : "#{DECODE_DEST}/TRANSFER_OF_SERVICE/RETRY_SOURCE_2",
              "Conflict Resolution Strategy" : "fail"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "f1d58b13-3ef3-33a4-aa91-97fcb65280c3",
            "instanceIdentifier" : "64fa9f7f-c562-3205-1045-b42d8ff09e44",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 840.0,
              "y" : 1272.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Directory" : "#{ERROR}/TRANSFER_OF_SERVICE/FETCH_FILE_2/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
              "Conflict Resolution Strategy" : "fail"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "655bfe1e-69c3-3003-9d95-967f17560587",
            "instanceIdentifier" : "5bcdb8d7-8ed5-331d-903c-a39db914085c",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ExecuteSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2048.0,
              "y" : 864.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "SQL Query" : "SELECT MSISDN FROM PROFILE_CDR_${MSISDN:substring(${MSISDN:length():minus(1)})} WHERE MSISDN='${MSISDN}'",
              "Database Connection Pooling Service" : "b04a188f-dfb8-390f-8573-d178a37c5ddf",
              "esql-auto-commit" : "true",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "compression-format" : "NONE",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "dbf-normalize" : "false",
              "Content Output Strategy" : "EMPTY"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "SQL Query" : {
                "displayName" : "SQL Query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "SQL Query",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "esql-auto-commit" : {
                "displayName" : "Set Auto Commit",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-auto-commit",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "compression-format" : {
                "displayName" : "Compression Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "compression-format",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "dbf-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbf-normalize",
                "sensitive" : false
              },
              "Content Output Strategy" : {
                "displayName" : "Content Output Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Content Output Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "42f99351-7042-3550-9671-48668206086e",
            "instanceIdentifier" : "25af59b0-ad04-3eeb-7707-b5c69b37cc17",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 224.0,
              "y" : 1280.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ "success" ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f2988e7-c945-3225-a9a1-3df9e3dc6a20",
            "identifier" : "d6d5d1e9-7ad3-3749-beb4-e1a5a162e358",
            "instanceIdentifier" : "14541598-1cc2-3b72-4954-e36f93a60374",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2680.0,
              "y" : 1056.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Directory" : "#{ERROR}/TRANSFER_OF_SERVICE/FETCH_FILE_1/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
              "Conflict Resolution Strategy" : "fail"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "scheduledState" : "ENABLED",
          "statelessFlowTimeout" : "1 min"
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "556682a4-d72b-3dbe-8a5d-287f51ccb283",
          "instanceIdentifier" : "7840911f-fc7b-39a5-37a5-5c8b94974a11",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 40.0,
            "y" : 96.0
          },
          "properties" : {
            "LANGUAGE" : "$.parameters[?(@.name=='LANGUAGE')].value",
            "Destination" : "flowfile-attribute",
            "MSISDN" : "$.parameters[?(@.name=='MSISDN')].value",
            "Max String Length" : "20 MB",
            "NEW_ACCOUNT_ID" : "$.parameters[?(@.name=='NEW_ACCOUNT_ID')].value",
            "Return Type" : "json",
            "Null Value Representation" : "empty string",
            "LAST_NAME" : "$.parameters[?(@.name=='LAST_NAME')].value",
            "FIRST_NAME" : "$.parameters[?(@.name=='FIRST_NAME')].value",
            "Path Not Found Behavior" : "ignore",
            "ADDRESS" : "$.parameters[?(@.name=='ADDRESS')].value",
            "EMAIL_ID" : "$.parameters[?(@.name=='EMAIL_ID')].value",
            "DATE_OF_BIRTH" : "$.parameters[?(@.name=='DATE_OF_BIRTH')].value"
          },
          "propertyDescriptors" : {
            "LANGUAGE" : {
              "displayName" : "LANGUAGE",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "LANGUAGE",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "MSISDN" : {
              "displayName" : "MSISDN",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "MSISDN",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "NEW_ACCOUNT_ID" : {
              "displayName" : "NEW_ACCOUNT_ID",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "NEW_ACCOUNT_ID",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "LAST_NAME" : {
              "displayName" : "LAST_NAME",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "LAST_NAME",
              "sensitive" : false
            },
            "FIRST_NAME" : {
              "displayName" : "FIRST_NAME",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "FIRST_NAME",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            },
            "ADDRESS" : {
              "displayName" : "ADDRESS",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "ADDRESS",
              "sensitive" : false
            },
            "EMAIL_ID" : {
              "displayName" : "EMAIL_ID",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "EMAIL_ID",
              "sensitive" : false
            },
            "DATE_OF_BIRTH" : {
              "displayName" : "DATE_OF_BIRTH",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "DATE_OF_BIRTH",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "f517b27b-1399-3c2d-9286-7fe569947a69",
          "instanceIdentifier" : "e6cc961d-dd42-3654-21bf-f94ac155fcbd",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 240.0,
            "y" : 584.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 0,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "e7329d65-494a-37af-bb51-f5a7c18ab9f3",
          "instanceIdentifier" : "86bbad7e-85d7-3650-1f67-7a22e9011443",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -760.0,
            "y" : -168.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "#{SRC_BACKUP}/TRANSFER_OF_SERVICE/${now():format(\"yyyy-MM-dd\")}",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "47b32467-aa2c-3265-aeb9-3a41d8307aa9",
          "instanceIdentifier" : "3d69445b-c2f4-3ca4-ab62-d658265f2f23",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 416.0,
            "y" : -240.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "{\n    \"parameters\": [\n        {\n            \"name\": \"MSISDN\",\n            \"value\": \"811112212233\"\n        },\n        {\n            \"name\": \"LOYALTY_ID\",\n            \"value\": \"2879922854322434\"\n        },\n        {\n            \"name\": \"REQUEST_ID\",\n            \"value\": \"6D-2131322213\"\n        },\n        {\n            \"name\": \"SRC_CUSTOMER_TYPE\"\n        },\n        {\n            \"name\": \"DEST_CUSTOMER_TYPE\"\n        },\n        {\n            \"name\": \"SERVICE_SEQ_ID\",\n            \"value\": \"null\"\n        },\n        {\n            \"name\": \"NEW_ACCOUNT_ID\",\n            \"value\": \"7565337dwd99\"\n        },\n        {\n            \"name\": \"DATE_OF_BIRTH\",\n            \"value\": \"1985-08-25\"\n        },\n        {\n            \"name\": \"FIRST_NAME\",\n            \"value\": \"Michael\"\n        },\n        {\n            \"name\": \"LAST_NAME\",\n            \"value\": \"Smiwwth\"\n        },\n        {\n            \"name\": \"EMAIL_ID\",\n            \"value\": \"michael.smith@example.com\"\n        },\n        {\n            \"name\": \"ADDRESS\",\n            \"value\": \"456 Elm Street, CA\"\n        },\n        {\n            \"name\": \"LANGUAGE\",\n            \"value\": \"2\"\n        }\n    ]\n}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "7ca3ccdc-08f2-34b6-873e-45b81faed3ec",
          "instanceIdentifier" : "0b4f057c-3cfc-310a-1656-80fa9bb126f4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1240.0,
            "y" : 320.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "#{ERROR}/TRANSFER_OF_SERVICE/EXECUTE_SQL_2/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 0,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "a55f698d-78ad-3273-8f41-000879257029",
          "instanceIdentifier" : "fc98d0e1-fe83-3940-c761-02055e9d3f2f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GetFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 848.0,
            "y" : -240.0
          },
          "properties" : {
            "Keep Source File" : "false",
            "Minimum File Age" : "5 sec",
            "Polling Interval" : "0 sec",
            "Input Directory" : "#{DECODE_DEST}/TRANSFER_OF_SERVICE/RETRY_SOURCE_2",
            "Batch Size" : "100",
            "Minimum File Size" : "0 B",
            "Ignore Hidden Files" : "true",
            "Recurse Subdirectories" : "true",
            "File Filter" : "[^\\.].*"
          },
          "propertyDescriptors" : {
            "Keep Source File" : {
              "displayName" : "Keep Source File",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Keep Source File",
              "sensitive" : false
            },
            "Minimum File Age" : {
              "displayName" : "Minimum File Age",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Minimum File Age",
              "sensitive" : false
            },
            "Polling Interval" : {
              "displayName" : "Polling Interval",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Polling Interval",
              "sensitive" : false
            },
            "Input Directory" : {
              "displayName" : "Input Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Input Directory",
              "sensitive" : false
            },
            "Maximum File Age" : {
              "displayName" : "Maximum File Age",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum File Age",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Maximum File Size" : {
              "displayName" : "Maximum File Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum File Size",
              "sensitive" : false
            },
            "Minimum File Size" : {
              "displayName" : "Minimum File Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Minimum File Size",
              "sensitive" : false
            },
            "Ignore Hidden Files" : {
              "displayName" : "Ignore Hidden Files",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Ignore Hidden Files",
              "sensitive" : false
            },
            "Recurse Subdirectories" : {
              "displayName" : "Recurse Subdirectories",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Recurse Subdirectories",
              "sensitive" : false
            },
            "File Filter" : {
              "displayName" : "File Filter",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "File Filter",
              "sensitive" : false
            },
            "Path Filter" : {
              "displayName" : "Path Filter",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Path Filter",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "60 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GetFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "d400677f-8c95-3e4e-a6f5-59c5daa7f0bc",
          "instanceIdentifier" : "853756d0-a29d-3aab-7d2b-6ef2569030ae",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 656.0,
            "y" : 112.0
          },
          "properties" : {
            "LANGUAGE" : "${LANGUAGE:replaceAll('[\\\\[\\\\]\\\"]', '')}",
            "MSISDN" : "${MSISDN:replaceAll('[\\\\[\\\\]\\\"]', '')}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "NEW_ACCOUNT_ID" : "${NEW_ACCOUNT_ID:replaceAll('[\\\\[\\\\]\\\"]', '')}",
            "ADDRESS" : "${ADDRESS:replaceAll('[\\\\[\\\\]\\\"]', '')}",
            "EMAIL_ID" : "${EMAIL_ID:replaceAll('[\\\\[\\\\]\\\"]', '')}",
            "LAST_NAME" : "${LAST_NAME:replaceAll('[\\\\[\\\\]\\\"]', '')}",
            "DATE_OF_BIRTH" : "${DATE_OF_BIRTH:replaceAll('[\\\\[\\\\]\\\"]', '')}",
            "FIRST_NAME" : "${FIRST_NAME:replaceAll('[\\\\[\\\\]\\\"]', '')}"
          },
          "propertyDescriptors" : {
            "LANGUAGE" : {
              "displayName" : "LANGUAGE",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "LANGUAGE",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "MSISDN" : {
              "displayName" : "MSISDN",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "MSISDN",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "NEW_ACCOUNT_ID" : {
              "displayName" : "NEW_ACCOUNT_ID",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "NEW_ACCOUNT_ID",
              "sensitive" : false
            },
            "ADDRESS" : {
              "displayName" : "ADDRESS",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "ADDRESS",
              "sensitive" : false
            },
            "EMAIL_ID" : {
              "displayName" : "EMAIL_ID",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "EMAIL_ID",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "LAST_NAME" : {
              "displayName" : "LAST_NAME",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "LAST_NAME",
              "sensitive" : false
            },
            "DATE_OF_BIRTH" : {
              "displayName" : "DATE_OF_BIRTH",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "DATE_OF_BIRTH",
              "sensitive" : false
            },
            "FIRST_NAME" : {
              "displayName" : "FIRST_NAME",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "FIRST_NAME",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "681d738b-a074-33bb-8755-1cef37a653af",
          "instanceIdentifier" : "f5f44d0a-1a64-319f-7d42-2d18bbc2e3e2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -616.0,
            "y" : 96.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "#{ERROR}/TRANSFER_OF_SERVICE/EVA_JSON_PATH/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 0,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "8b4ec82d-3cd2-37b9-9c05-4a9101b58b81",
          "instanceIdentifier" : "910c917d-2088-3f04-387f-413d14cdd206",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 648.0,
            "y" : 328.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "SQL Query" : "select 'abc'",
            "Database Connection Pooling Service" : "b04a188f-dfb8-390f-8573-d178a37c5ddf",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "sql-pre-query" : "UPDATE PROFILE_CDR_${MSISDN:substring(${MSISDN:length():minus(1)})} SET \nBILLING_ACCOUNT_NUMBER=(CASE '${NEW_ACCOUNT_ID}' WHEN '' THEN NULL ELSE '${NEW_ACCOUNT_ID}' END),\nADDRESS=(CASE '${ADDRESS}' WHEN '' THEN NULL ELSE '${ADDRESS}' END),\nDOB=(CASE '${DATE_OF_BIRTH}' WHEN '' THEN NULL ELSE '${DATE_OF_BIRTH}' END),\nEMAIL_ID=(CASE '${EMAIL_ID}' WHEN '' THEN NULL ELSE '${EMAIL_ID}' END),\nSUBSCRIBER_FIRST_NAME=(CASE '${FIRST_NAME}' WHEN '' THEN NULL ELSE '${FIRST_NAME}' END),\nSUBSCRIBER_LAST_NAME=(CASE '${LAST_NAME}' WHEN '' THEN NULL ELSE '${LAST_NAME}' END),\nLANGUAGE_ID=(CASE '${LANGUAGE}' WHEN '' THEN NULL ELSE '${LANGUAGE}' END)\nWHERE MSISDN='${MSISDN}';",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "dbf-normalize" : "false",
            "Content Output Strategy" : "EMPTY"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "SQL Query" : {
              "displayName" : "SQL Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "SQL Query",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            },
            "Content Output Strategy" : {
              "displayName" : "Content Output Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Content Output Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "01d676ea-317a-3236-b524-e0e70d4d5d3c",
          "identifier" : "b13b9165-e950-39fb-bd47-0a8103195d78",
          "instanceIdentifier" : "7a3cc5f0-82bc-3b50-3620-d8c8b7ac97c3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConsumeKafka",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : -176.0
          },
          "properties" : {
            "Topics" : "transferOfService",
            "Commit Offsets" : "true",
            "Key Format" : "byte-array",
            "Key Attribute Encoding" : "utf-8",
            "Topic Format" : "names",
            "Header Encoding" : "UTF-8",
            "Max Uncommitted Time" : "100 millis",
            "Kafka Connection Service" : "7b4c9a98-9444-3ca7-a4a7-7da9e3ac8828",
            "Separate By Key" : "false",
            "Processing Strategy" : "FLOW_FILE",
            "Group ID" : "transferOfService_new",
            "auto.offset.reset" : "earliest",
            "Output Strategy" : "USE_VALUE"
          },
          "propertyDescriptors" : {
            "Topics" : {
              "displayName" : "Topics",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Topics",
              "sensitive" : false
            },
            "Commit Offsets" : {
              "displayName" : "Commit Offsets",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Commit Offsets",
              "sensitive" : false
            },
            "Header Name Pattern" : {
              "displayName" : "Header Name Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Header Name Pattern",
              "sensitive" : false
            },
            "Key Format" : {
              "displayName" : "Key Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Key Format",
              "sensitive" : false
            },
            "Key Record Reader" : {
              "displayName" : "Key Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Key Record Reader",
              "sensitive" : false
            },
            "Message Demarcator" : {
              "displayName" : "Message Demarcator",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Message Demarcator",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            },
            "Key Attribute Encoding" : {
              "displayName" : "Key Attribute Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Key Attribute Encoding",
              "sensitive" : false
            },
            "Topic Format" : {
              "displayName" : "Topic Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Topic Format",
              "sensitive" : false
            },
            "Header Encoding" : {
              "displayName" : "Header Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Header Encoding",
              "sensitive" : false
            },
            "Max Uncommitted Time" : {
              "displayName" : "Max Uncommitted Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Uncommitted Time",
              "sensitive" : false
            },
            "Kafka Connection Service" : {
              "displayName" : "Kafka Connection Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Kafka Connection Service",
              "sensitive" : false
            },
            "Separate By Key" : {
              "displayName" : "Separate By Key",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Separate By Key",
              "sensitive" : false
            },
            "Processing Strategy" : {
              "displayName" : "Processing Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Processing Strategy",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Group ID" : {
              "displayName" : "Group ID",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Group ID",
              "sensitive" : false
            },
            "auto.offset.reset" : {
              "displayName" : "Auto Offset Reset",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "auto.offset.reset",
              "sensitive" : false
            },
            "Output Strategy" : {
              "displayName" : "Output Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.kafka.processors.ConsumeKafka",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "VARIABLES" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "VARIABLES",
          "parameters" : [ {
            "description" : "",
            "name" : "SRC_BACKUP",
            "provided" : false,
            "sensitive" : false,
            "value" : "/opt/nifi/external_jars/NIFI_FILES/SRC_BACKUP"
          }, {
            "description" : "",
            "name" : "DECODE_DEST",
            "provided" : false,
            "sensitive" : false,
            "value" : "/opt/nifi/external_jars/NIFI_FILES/DECODE_DEST"
          }, {
            "description" : "",
            "name" : "LOAD_INPUT",
            "provided" : false,
            "sensitive" : false,
            "value" : "/opt/nifi/external_jars/NIFI_FILES/LOAD_INPUT"
          }, {
            "description" : "",
            "name" : "ERROR",
            "provided" : false,
            "sensitive" : false,
            "value" : "/opt/nifi/external_jars/NIFI_FILES/ERROR"
          } ]
        }
      },
      "parameterProviders" : { }
    }
  }
}